/* Copyright 2018 Google LLC. SPDX-License-Identifier: Apache-2.0 */
.accordion-btn {
  width: 100%;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  color: #444;
  background-color: #add8e6;
  padding: 19px;
  outline: none;
  border: none;
  border-radius: 2px;
}

.accordion-btn:hover {
  background-color: #87cefa;
}

.container {
  display: none;
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}

p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #2e86c1;
  border-radius: 2px;
  padding: 5px;
}

.paragraph1 {
  word-wrap: break-word;
  color: #ffa500;
}

.paragraph2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0000cd;
}

.paragraph3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  color: #228b22;
}

h1 {
  word-spacing: 5px;
  color: blue;
  text-align: center;
}

h3 {
  word-spacing: -5px;
  background-color: #eee;
  text-align: center;
}
