/* Copyright 2018 Google LLC. SPDX-License-Identifier: Apache-2.0 */

.accordion-btn:hover {
  background-color: #87cefa;
}

p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #2e86c1;
  border-radius: 2px;
  padding: 5px;
}

h1 {
  word-spacing: 5px;
  color: blue;
  text-align: center;
}
