[class],
[class]::before,
[class]::after { box-sizing: border-box; }
body {
    font-family: system-ui, sans-serif;
}
.h1 { font-size: 32px; }
.h2 { font-size: 24px; }
.mark {
    padding: 4px 8px;
    border-radius: 4px;
    font: 700 24px monospace;
}
.hr { margin: 2em 0; }
.sup { color: #767676; }
.spec {
    display: inline-grid;
    grid: auto / minmax(min-content, max-content) 1fr;
    padding: 16px;
    border-radius: 4px;
    background: #def;
}
.initial { color: blue; }
.spec__term { font-weight: 700; }
.list {
    display: flex;
    flex-flow: wrap;
    gap: 0 16px;
    list-style: none;
    padding-left: 0;
    font: 16px monospace;
    overflow-x: auto;
}
.list__item {
    display: flex;
    align-items: center;
}
.list__input {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0 8px;
}
.list__label {
    display: inline-flex;
    flex: 1;
    white-space: nowrap;
    padding: 4px 4px 4px 32px;
    margin-left: -32px;
    border-radius: 4px;
}
:checked + .list__label {
    background: yellow;
    font-weight: 700;
}
.demo { overflow-x: auto; }
.container,
.item { transition: .2s; }
.declaration::before { content: '{ '; }
.declaration::after { content: ' }'; }
.pre {
    display: inline-flex;
    max-width: 100%;
    overflow-x: auto;
}
.code {
    display: block;
    background: #222;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
}
